.btn_product {
    border: none;
    background: transparent;
    color: lightgray;
    padding: 5px 10px;
}

.btn_product:hover {
    font-weight: bold;
}

.active_btn {
    color: black;
}

.products_container {
    width: 90vw;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.product_card_content {
    display: grid;
    text-align: center;
    padding: 10px;
    gap: 10px;
}

.btn_card_container {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
}

.products_list {
    display: grid;
    gap: 10px;
}

@media screen and (min-width: 512px) {
    .products_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .products_list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .products_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.product_item {
    margin: 0;
    position: relative;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product_item:hover{
    overflow: visible;
}

.product_item:hover .product_desc {
    transform: translateY(100%);
    transition: transform 3ms;
}


.img_product {
    /*min-height: calc(100vw * 1.33);*/
    background: rgb(250, 250, 250);
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
}

.product-img {
    display: block;
    height: 100%;
    object-fit: fill;
}

.product_card {
    overflow: hidden;
}


.filter {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 5px;
}

@media screen and (min-width: 768px) {
    .filter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

.search {
    border: 1px solid lightgray;
    padding: 5px;
}

.product_desc {
    color: white;
    position: absolute;
    bottom: 450px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 10px;
    z-index: 80;
    background-color: rgba(31, 31, 44, 0.7);
}

.abs{
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.product-item-link{
    text-decoration: none;
    color: rgb(149, 146, 146);
}