.active_btn{
    background: green;
}

.products_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.products_list{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.product_item{
    border-bottom: 1px solid black;
}