.wishlist_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1024px;
}


.img_wishlist_container {
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
    display: flex;
    align-items: center;
    background: rgb(250, 250, 250);
}

.wishlist_img {
    width: 100%;
}

.wishlist_item {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid lightgray;
    justify-content: center;
    padding: 5px 0px;
}

@media screen and (min-width: 768px) {
    .wishlist_item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-bottom: 1px solid lightgray;
    }

}



.wishlist_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.wishlist_btn {
    width: 50px;
    background: transparent;
    border: none;
    padding: 5px;
    color: lightgrey;
}

.btn_wishlist_container{
    display: flex;
    justify-content: space-between;
}