.basket {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1024px;
}

.input_holder {
    padding: 0;
}

.quantity_field {
    display: flex;
    width: 50%;
    outline: none;
    border: none;
    border: 1px solid lightgrey;
    padding: 5px;
}

.basket_img {
    width: 100%;
}

.table>span {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5px;

}

.table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    box-shadow: 1px;
}

@media screen and (min-width: 512px) {
    .table {
        grid-template-columns: 3fr 1fr 2fr 1fr 2fr 2fr 1fr;
    }
}

.basket_list{
    display: grid;
    gap: 10px;
}

.basket_remove_btn {
    border: none;
    background: transparent;
    margin-top: 5px;
    color: lightgray;
    border-bottom: 1px solid lightgray;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.basket_btn {
    margin: 10px;
    width: 100px;
    border: none;
}

.user_data {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.user_data * {
    padding: 5px 10px;
}

.img_container_basket{
    max-height: 150px;
    padding-bottom: 5px;
}

.img_container_basket>.basket_img{
    height: 100%;
    width: auto;
}




@media screen and (min-width: 512px){
    .img_container_basket {
            background: rgb(250, 250, 250);
            min-height: 70px;
            max-height: none;
        }
    
}

