.nav {
    display: flex;
    height: 60px;
    position: fixed;
    z-index: 99;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
}

.navlinks_container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
}

@media screen and (min-width: 768px) {
    .navlinks_container {
        justify-content: flex-start;
    }
}

.navlink {
    text-decoration: none;
    color: white;
}

.navlink.active {
    text-decoration: underline;
}