.nav {
    display: flex;
    height: 60px;
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to top, rgba(255,255,255,0.8), rgba(0, 0, 0, 0.8));
}

.navlinks_container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .navlinks_container {
        max-width: 1024px;
    }
}

.navlink {
    text-decoration: none;
    color: white;
}

.navlink.active {
    text-decoration: underline;
}

