.historty_container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1024px;
}

.list_item_history{
    display: grid;
    gap: 10px;
}

.history_orders_list{
    display: grid;
    gap: 20px;
}

.heading_history{
    display: flex;
}

.history_reset_btn{
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: 1px;
    border-bottom: 1px solid black;
    margin-left: auto;
}